  <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/dist/img/avatar-blank.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>مدير</p>
              <a href="#"><i class="fa fa-circle text-success"></i> على الانترنت</a>
            </div>
          </div>
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">الملاحة الرئيسية</li>
            <li>
              <a ui-sref="dashboarda">
                <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span> <i class="fa fa-angle-right pull-right" style="text-align:center"></i>
              </a>
            </li>
            <li class="active">
              <a ui-sref="appusersa">
                <i class="fa fa-mobile"></i> <span>المحمول للمستخدمين التطبيقات</span> <i class="fa fa-angle-right pull-right" style="text-align:center"></i>
              </a>
            </li>
            <li >
              <a ui-sref="companiesa">
                <i class="fa fa-building"></i> <span>الشركات</span> <i class="fa fa-angle-right pull-right" style="text-align:center"></i>
              </a>
            </li>
            <li >
              <a ui-sref="agentsa">
                <i class="fa fa-users"></i> <span>وكلاء مبيعات</span> <i class="fa fa-angle-right pull-right" style="text-align:center"></i>
              </a>
            </li>
            <li>
              <a ui-sref="promotionsa">
                <i class="fa fa-money"></i> <span>الترقيات</span> <i class="fa fa-angle-right pull-right" style="text-align:center"></i>
              </a>
            </li>
            <li>
              <a href="/pages/reports/index.html">
                <i class="fa fa-book"></i> <span>تقارير</span> <i class="fa fa-angle-right pull-right" style="text-align:center"></i>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>