<style type="text/css">
.error-login{
    width: 250px;
    height: 30px;
    color: red;
    margin: auto;
}
</style>

  
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Autotek</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Login</p>
        <div ng-if="Iserror" class="error-login">
            <p>Enter Correct username and password</p>
            </div>
        <div>
            <form action="">
                <div class="form-group has-feedback">
                     <input ng-model="user.username"  type="text" required class="form-control" placeholder="User Name">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">

                    <input ng-model="user.password" type="password" required class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                         <button type="submit" ng-click="login(User)" class="btn btn-primary btn-block btn-flat">Login</button>
                    </div>
                      <div style="text-align: center" ng-model="currentPage" ng-change="go(currentPage)">
                <select ng-model="lng" ng-change="get_language(lng)" style="margin-top:02px !important;margin: auto;margin-right: 30px;padding: 05px 20px 05px 20px;">
                    <option value="ar">Arabic</option>
                    <option selected value="en">English</option>
                </select>
                </div>
                </div><br>
                 <div ng-show="loginLoaderShow" style="margin-left:100px;margin-right:100px;">
                  <div class="col-xs-4">
                    <img src="dist/img/loading.gif" style="margin-top: 20px;">
                 </div>
                </div>
                <!-- /.col -->
            </form>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
